//@import "bootstrap/bootstrap";

/*body{
    background-color:blue;
    background-image: url(./img/blog/blog-01.jpg)
}*/
h1{
    color: black;
//  font-family: 'Roboto', sans-serif;
    font-family: 'Indie Flower', cursive;
}

.cube {
    height: 100px;
    width:  200px;
    display: flex;
    background: linear-gradient(#e98a00, #f5aa2f); 
}